.title-content  {
    text-align: center;
}

.center-component {
    text-align: center;
}

.spinner {
    text-align: center;
    display: block;
    font-size: .5em;
}

.h3emph {
    text-align: center;
    font-style: italic;
}

.listPadding {
    margin: 15px;
}

.fa-spin {
    font-size: 4em;
}